# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# 环境变量（敏感信息）
.env

# IDE
.idea/
.vscode/

# 数据库
*.sqlite3

# 虚拟环境
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# Node（前端）
node_modules/
dist/
